<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose template</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h4 style='color:red'>{{ message }}</h4>
    {% endfor %}
  {% endif %}
{% endwith %}
    <a href='{{ url_for("index") }}'/> << </a>
    <form enctype='multipart/form-data' method='post' action='{{url_for(".get_user_data")}}'>
        {{form.csrf_token}}
       <p>{{form.name(placeholder='name')}}</p>
       <p>{{form.email(placeholder='email')}}</p>
       <p>{{form.about(placeholder='about')}}</p>
       <p>{{form.skills(placeholder='skills')}}</p>
       <p>{{form.work_experience(placeholder='work experience')}}</p>
       <p>{{form.education(placeholder='education')}}</p>
       <p>{{form.image}}</p>
       <p>{{form.file_format}}</p>
       <p>{{form.submit}}</p>
    </form>
</body>
</html>
