<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose template</title>
</head>
<body>
    <form enctype='multipart/form-data' method='post' action='{{url_for(".get_user_data")}}'>
        {{form.csrf_token}}
       <p>{{form.name(placeholder='name')}}</p>
       <p>{{form.email(placeholder='email')}}</p>
       <p>{{form.about(placeholder='about')}}</p>
       <p>{{form.skills(placeholder='skills')}}</p>
       <p>{{form.work_experience(placeholder='work experience')}}</p>
       <p>{{form.education(placeholder='education')}}</p>
       <p>{{form.image}}</p>
       <p>{{form.submit}}</p>
    </form>
</body>
</html>
